* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --preset-color-dark-blue: #5ab2ff;
  --preset-color-blue: #a0deff;
  --preset-color-light-blue: #caf4ff;
  --preset-color-yellow: #fffbe1;
  --preset-color-black: #003a57;
  --preset-color-white: #f7f6f3;

  --font-family-old-standard-TT: "Old Standard TT", serif;
  --font-family-quicksand: "Quicksand", sans-serif;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--preset-color-yellow);
}

/* -------------hero------------ */
.hero {
  background-image: url(/images/arch.png);
  height: 100vh;
  width: 100%;
  background-size: cover;
  padding: 2rem;
}
.logo {
  border-radius: 50px;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background-color: var(--preset-color-yellow);
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 35rem;
  color: var(--preset-color-yellow);
  font-family: var(--font-family-old-standard-TT);
}
.travel-bar {
  display: flex;
  height: 121px;
  padding: 0px 16px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  background: var(--preset-color-white);
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.25);
  margin-top: -4rem;
  width: 600px;
  margin: -2rem auto 2rem auto;
}
.travel-bar-1 {
  display: flex;
  padding: 10px 186px 10px 0px;
  align-items: center;
  gap: 10px;
}
.btn-travel-bar-1 {
}
.travel-bar-2 {
  display: flex;
  padding: 10px 0px;
  align-items: center;
  gap: 21px;
}
.btn-travel-bar-2 * {
  list-style: none;
  text-decoration: none;
  color: var(--preset-color-black);
  font-family: "Old Standard TT";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.btn-travel-bar-1 * {
  list-style: none;
  text-decoration: none;
  color: var(--preset-color-black);
  font-family: "Old Standard TT";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.btn-travel-bar-2 {
  border-radius: 3px;
  background: var(--preset-color-white);
  border: 0.7px solid rgba(101, 101, 101, 0.15);
  display: inline-flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.btn-travel-bar-1 {
  border-radius: 3px;
  background: var(--preset-color-white);
  border: 0.7px solid rgba(101, 101, 101, 0.15);
  display: inline-flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
/* ----------vay-cays-------- */
.summer-vaycay {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 5rem 10rem 0 17rem;
  row-gap: 2rem;
  margin-bottom: 5rem;
  background-color: var(--preset-color-yellow);
}

.image {
  color: var(--preset-color-yellow);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  padding: 2rem;
  font-family: var(--font-family-old-standard-TT);
  font-style: italic;
  font-weight: 300;
}
.rating {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: var(--preset-color-light-blue);
  border-radius: 1rem;
  padding: 0.3rem 0.5rem;
  margin: 1rem;
  font-family: var(--font-family-quicksand);
  font-weight: 600;
}
.pin {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.image h2 {
  font-weight: 400;
}
.barbados {
  background-image: url(images/barbados.png);
  width: 300px;
  height: 400px;
  position: relative;
}
.belize {
  background-image: url(images/belize.png);
  width: 300px;
  height: 400px;
  position: relative;
}
.greece {
  background-image: url(images/greece.png);
  width: 300px;
  height: 400px;
  position: relative;
}
.madagascar {
  background-image: url(images/madagascar.png);
  width: 300px;
  height: 400px;
  position: relative;
}
.sa-pa {
  background-image: url(images/sa-pa.png);
  width: 300px;
  height: 400px;
  position: relative;
}
.sardinia {
  background-image: url(images/sardinia.png);
  width: 300px;
  height: 400px;
  position: relative;
}

.section-mountain {
}
